.card-area {
    --border-color: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    max-height: 500px;
    width: calc(100vw - 48px);
    overflow-x: auto;
}
.card-area .card-area-inner {
    display: flex;
    column-gap: 1rem;
    position: relative;
}

.card {
    border-left: 1px solid var(--border-color);
    flex: 0 0 100%;
    flex-wrap: wrap;
}

/* .card:first-child, .card:last-child {
    border-right: transparent;
    border-left: transparent;
} */


.card * {
    /* max-width: 400px; */
    width: 100%;
}

.card h2 {
    width: 150px;
    height: fit-content;
}

.title {
    position: relative;
}

.card .title::before, .card .title::after {
    content: "~";
    display: block;
    height: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card .title::before {
    left: -10px;
}

.card .title::after {
    right: -10px;
}