.flex {
  display: flex;
}

.center, .horizontal-center, .vertical-center {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.horizontal-center {
  justify-content: center;
}

.vertical-center {
  align-items: center;
}

.direction-vertical {
  display: flex;
  flex-direction: column;
}

.col-count-2 {
  column-count: 2;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.default-list {
  display: block;
  list-style-type: disc;
  padding: 1rem;
}

.padding-top-bottom-1rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
