.hero-banner {
    position: relative;
    padding-top: 80%;
    overflow: hidden;
}

.hero-banner h1 {
    color: var(--background);
    font-weight: 500;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 1.8rem;
}

.hero-banner img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media screen and (min-width: 960px) {
    .hero-banner {
        padding-top: 15%;
    }
    .hero-banner h1 {
        font-size: 2.5rem;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}